#python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
venv/
.venv/

#environment
.env
.env.*

#node
node_modules/
build/
npm-debug.log*

#IDE
.vscode/
.idea/

#chromaDB
**/chromadb/**/*.bin
**/chromadb/**/*.sqlite3
**/chromadb/chroma.sqlite3

#SQLite and other local DB files
**/*.sqlite3
**/*.db

#logs
*.log

#MacOS
.DS_Store